:root{
    --fontDarkColor: #464646;
    --darkBlue: #2A7AE4;

    --backgroundWhite: #FFFFFF;
    --backgroundGrey: #F5F5F5;
    --backgroundLightBlue: #EAF2FD;
    --starTitle: 'Starjout';
    --titles: 'Baloo 2', 'Sans Serif';
    --text: 'Comfortaa', 'Sans Serif';
}

@font-face {
    font-family: 'Starjedi';
    src: url(/assets/Starjedi.ttf);
}
@font-face {
    font-family: 'Starjout';
    src: url(/assets/Starjout.ttf);
}

/*titulos grandes*/
.banner__titulo{
    font-family: var(--starTitle);
}
.galeria__productos--title{
    font-weight: 700;
    color: var(--fontDarkColor);
    font-family:  var(--starTitle);
}
.destacado{
    font-weight: bolder;
}
.btn{
    font-family: var(--text);
    border: 2px solid transparent;
}

.input{
    font-family: var(--text);
    padding: 1rem 0 1rem 1rem;
    border: 2px solid transparent;
}

